@charset "UTF-8";

/* layout.css */

/* index
------------------------------

	[0] 共通
	[1] main-wrap
	------------------------------
		├ header
		└ footer

	[2] side-wrap
	------------------------------
		├ logo
		├ h-navi
		├ search
		├ font-size
		├ g-navi
		└ banner-area

	[3] top-contents
	------------------------------
		├ news
		│	├ news category
		│	├ news linkcolor
		│	├ other-news
		│	└ menu(一覧/RSS)
		└ challenge
			├ tab-challenge
			├ tab-inner
			└ menu(過去の問題)

	[4] sub-contents
	[5] side
	[6] footer-contents
	[7] sub-footer-contents
	[8] footer

------------------------------ */


/* [0] 共通
------------------------------ */

body{
	width: 100%;
	height: 100%;
	background-color: #fefdf6;
}

/* IE6 向けのスタイル 
------------------------------ */  
* html ,* html body {
    height: 100%;  
    overflow-y: hidden;  
    overflow-x: auto;  
}  
* html #contents{  
    overflow: auto;
    position: relative;
    height: 100%;
}

/* [1] contents
------------------------------ */
#contents{
	height: 100%;
	padding-bottom: 50px;
	margin-left: 220px;
	font-family: "小塚明朝 Pro R","Kozuka Mincho Pro R","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro", "ＭＳ Ｐ明朝","MS PMincho",細明朝体,serif;
	line-height: 1.8;
}

#inner{
	width: 700px;
	margin: 0 auto;
	padding-top: 270px;
}

#inner p{
	margin-bottom: 20px;
}

body.top #contents img{
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
}

/*	margin: 0 auto;*/

/* [2] side
------------------------------ */

/* 固定配置要素のスタイル 
------------------------------ */  
#side{
	position: fixed !important;  
	position: absolute; 
	top: 0;
	left: 0;
	width: 180px;
	height: 100%;
	margrin: 0;
	padding: 25px 10px 20px 30px;
	background: #fffef7 url(/img/bg_body.jpg) top left repeat-y;
}

#side.english{
	width: 190px;
	padding: 25px 0 20px 30px;
}

.g-navi{
	margin-top: 40px;
}

.g-navi li{
	float: right;
	display: inline;
}

#side.english .g-navi li{
	float: none;
	display: block;
	position: relative;
	margin-left: -10px;
}

#footer{
	width: 180px;
	position: absolute;
	left: 30px;
	bottom: 70px;
}

/* ----- pagetop ----- */
.pagetop{
	position: fixed !important;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
























